.row {
    background-color: rgb(254, 88, 198, .7)
}

img {
    float: left;
    margin-left: 14px;
    position: relative;
}

h3 {
    color: rgb(254, 239, 216);
}

.col-md-9 {
    position: absolute;
    height: 50%;
    width: 50%;
    padding: 5%;
    margin-top: auto;
    margin-left: 265px;
}